
<div class="hero-unit">
<h1>Welcome to my home page</h1>
<p>
	You've found the home page. 
	<%= link_to "one month rails", "http://www.nickholzherr.com"%>

</p>
<p>
	<%= link_to "Sign up now", "#", class: "btn btn-primary btn-large" %>
</p>
</div>

