$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);


@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';


.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}


div.thumb_container {
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    border:5px solid #6600CC;
    display: inline-block;
}

img.thumb {
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    vertical-align:top;
}


