<div class="row">
	<div class="span6 offset3">
			<div class="well">

<div class="thumb_container">
	<%= image_tag @birthday.image.url(:thumb), class: "thumb" %> 
</div>


			
				<p>
				  <%= @birthday.name %>
				</p>
					<%= link_to 'Edit', edit_birthday_path(@birthday) %> |
					<%= link_to 'Back', birthdays_path %>
			</div>
	</div>
</div>